@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy;
        <a href="#" target="_blank">
            موسسه ساعد سافت 
        </a>
    </small>
</footer>